@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

#ar2{
  padding-top:50px;
}

#ar03{
  float:left;
  padding-left:170px;
  padding-right:50px;
}

#ar04{
  font-size:20px;
  padding-left:300px;
  padding-top:20px;
  font-family: 'Do Hyeon', sans-serif;

}
